<a href="https://colab.research.google.com/github/mavropulokn/pandasHw/blob/main/pandasHw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from datetime import datetime

import numpy as np
import pandas as pd
from IPython.display import display


class FeatureGenerator:
    def __init__(self, df_train_path, df_questions_path, df_lectures_path, skip_blank_lines=True, nrows=None):
        pd.options.display.max_columns = 100
        self.df_train = pd.read_csv(df_train_path, skip_blank_lines=skip_blank_lines, nrows=nrows)
        self.df_lectures = pd.read_csv(df_lectures_path, skip_blank_lines=skip_blank_lines, nrows=nrows)
        self.df_questions = pd.read_csv(df_questions_path, skip_blank_lines=skip_blank_lines, nrows=nrows)
        self.df_merged = None

    def generate(self):
        self.clear_data()
        self.merge_atomise_dataframes()
        self.analyze_create_features()
        self.select_features()

    def clear_data(self):
        print(datetime.utcnow(), ": <-- Очистка данных -->")

        """По условию значения df_train prior_question_elapsed_time, user_answer, answered_correctly и
              prior_question_elapsed_time отсутствуют для лекций, поэтому очистим лишь прочие строки df_train"""
        self.df_train = self.df_train[self.df_train['row_id'].notna()
                                      & self.df_train['timestamp'].notna()
                                      & self.df_train['user_id'].notna()
                                      & self.df_train['content_id'].notna()
                                      & self.df_train['content_type_id'].notna()
                                      & self.df_train['task_container_id'].notna()]

        self.df_train = self.clear_data_auxiliary(self.df_train, "df_train", False)
        self.df_questions = self.clear_data_auxiliary(self.df_questions, "df_questions")
        self.df_lectures = self.clear_data_auxiliary(self.df_lectures, "df_lectures")

        print("Выведем первые три строки и посмотрим, насколько полезны столбцы:")
        print("---------------------------------------------------------")
        display(self.df_train.head(3))
        display(self.df_questions.head(3))
        display(self.df_lectures.head(3))
        print("---------------------------------------------------------")

        """Удалим столбец type_of из df_lectures, краткое описание лекции,
              поскольку качественная обработка данных значений 
              может потребовать глубокого использования инструментов NLP,
              например лемматизации или стемматизации"""
        self.df_lectures = self.df_lectures.drop('type_of', axis=1)

        """Удалим столбец user_answer из df_train,
              поскольку нам интересны лишь результаты ответа, а тип интерактивности
              можно вывести df_train content_type_id"""
        self.df_train = self.df_train.drop('user_answer', axis=1)

        """Удалим столбец correct_answer из df_questions,"
              поскольку верный ответ или нет уже известно из df_train answered_correctly"""
        self.df_questions = self.df_questions.drop('correct_answer', axis=1)

        print(datetime.utcnow(), ": <-- Очистка данных завершена -->")

    def merge_atomise_dataframes(self):
        print(datetime.utcnow(), ": <-- Объединение датафреймов в один и приведение к атомарности значений -->")

        print("Выведем типы для train dataframe: ", self.df_train.dtypes)

        """Объединим датафреймы, добавив к train, преобразуем к атомарности значения столбцов."""
        self.df_merged = self.df_train.merge(self.df_questions, how="left", left_on='content_id',
                                             right_on="question_id")
        self.df_merged = self.df_merged.drop('question_id', axis=1)
        self.df_merged = self.df_merged.rename(columns={'tags': 'tag_question'})
        self.df_train = None
        self.df_questions = None

        self.df_merged = self.df_merged.merge(self.df_lectures, how="left", left_on='content_id',
                                              right_on="lecture_id", suffixes=("", "_lecture"))
        self.df_merged = self.df_merged.drop('lecture_id', axis=1)
        self.df_merged = self.df_merged.rename(columns={'tag': 'tag_lecture'})

        self.df_lectures = None

        self.df_merged['tag_question'] = self.df_merged['tag_question'].str.split(" ")
        self.df_merged = self.df_merged.explode('tag_question')  # приведем значения к атомарным

        print(datetime.utcnow(),
              ": <-- Объединение датафреймов в один и приведение к атомарности значений завершено -->")

    def analyze_create_features(self):
        print(datetime.utcnow(), ": <-- Анализ объединенного датафрейма и создание фичей -->")
        print("Выведем типы для объединенного dataframe: ", self.df_merged.dtypes)
        print("Выведем размерность для объединенного dataframe: ", self.df_merged.shape)
        print("Выведем описательную статистику для объединенного dataframe: ", self.df_merged.describe())

        print(self.df_merged)
        print(datetime.utcnow(), ": <-- Анализ объединенного датафрейма и создание фичей -->")

    def select_features(self):
        pass

    @staticmethod
    def clear_data_auxiliary(data_frame, data_frame_name, dropna=True):
        print(datetime.utcnow(), ": Очищаем данные %s .." % data_frame_name)
        if (dropna):
            print("измерения %s до dropna():" % data_frame_name, data_frame.shape)
            data_frame = data_frame.dropna()
        print("измерения %s до удаления пустых строк:" % data_frame_name, data_frame.shape)
        data_frame = data_frame.replace(r'^\s*$', np.nan, regex=True)
        print("измерения %s после очистки:" % data_frame_name, data_frame.shape)
        return data_frame

In [3]:
train_300000_url = 'https://raw.githubusercontent.com/mavropulokn/pandasHw/main/resources/train_300000.csv'
questions_url = 'https://raw.githubusercontent.com/mavropulokn/pandasHw/main/resources/questions.csv'
lectures_url = 'https://raw.githubusercontent.com/mavropulokn/pandasHw/main/resources/lectures.csv'

generator = FeatureGenerator(train_300000_url,
                            questions_url,
                            lectures_url)
generator.generate()

2022-10-09 18:43:34.158194 : <-- Очистка данных -->
2022-10-09 18:43:34.190300 : Очищаем данные df_train ..
измерения df_train до удаления пустых строк: (300000, 11)
измерения df_train после очистки: (300000, 11)
2022-10-09 18:43:34.517489 : Очищаем данные df_questions ..
измерения df_questions до dropna(): (13523, 5)
измерения df_questions до удаления пустых строк: (13522, 5)
измерения df_questions после очистки: (13522, 5)
2022-10-09 18:43:34.546303 : Очищаем данные df_lectures ..
измерения df_lectures до dropna(): (418, 4)
измерения df_lectures до удаления пустых строк: (418, 4)
измерения df_lectures после очистки: (418, 4)
Выведем первые три строки и посмотрим, насколько полезны столбцы:
---------------------------------------------------------

,Unnamed: 0,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,2,118363,115,128,0,0,0,1,55000.0,False

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92

   lecture_id  tag  part  type_of
0          89  159     5  concept
1         100   70     1  concept
2         185   45     6  concept

---------------------------------------------------------
2022-10-09 18:43:34.619246 : <-- Очистка данных завершена -->
2022-10-09 18:43:34.620284 : <-- Объединение датафреймов в один и приведение к атомарности значений -->
Выведем типы для train dataframe:  Unnamed: 0                          int64
row_id                              int64
timestamp                           int64
user_id                             int64
content_id                          int64
content_type_id                     int64
task_container_id                   int64
answered_correctly                  int64
prior_question_elapsed_time       float64
prior_question_had_explanation     object
dtype: object
2022-10-09 18:43:35.581241 : <-- Объединение датафреймов в один и приведение к атомарности значений завершено -->
2022-10-09 18:43:35.582400 : <-- Анализ объединенного датафрейма и создание фичей -->
Выведем типы для объединенного dataframe:  Unnamed: 0                          int64
row_id                              int64
timestamp                           int64
user_id                             int64
content_id                          int64
content_type_id                     int64
task_container_id                   int64
answered_correctly                  int64
prior_question_elapsed_time       float64
prior_question_had_explanation     object
bundle_id                         float64
part                              float64
tag_question                       object
tag_lecture                       float64
part_lecture                      float64
dtype: object
Выведем размерность для объединенного dataframe:  (710422, 15)
Выведем описательную статистику для объединенного dataframe:            Unnamed: 0         row_id     timestamp       user_id  \
count  710422.000000  710422.000000  7.104220e+05  7.104220e+05
mean   149618.186382  149618.186382  7.782589e+09  2.992083e+06
std     86770.064376   86770.064376  1.073941e+10  1.619458e+06
min         0.000000       0.000000  0.000000e+00  1.150000e+02
25%     75066.000000   75066.000000  7.792672e+08  1.567938e+06
50%    148409.000000  148409.000000  3.648662e+09  3.117954e+06
75%    224401.750000  224401.750000  1.102749e+10  4.357812e+06
max    299999.000000  299999.000000  7.809200e+10  5.615405e+06

          content_id  content_type_id  task_container_id  answered_correctly  \
count  710422.000000    710422.000000      710422.000000       710422.000000
mean     4025.721730         0.011987         901.808018            0.677970
std      3795.688915         0.108828        1067.889593            0.492241
min         0.000000         0.000000           0.000000           -1.000000
25%       926.000000         0.000000         131.000000            0.000000
50%      2590.000000         0.000000         457.000000            1.000000
75%      6921.000000         0.000000        1309.000000            1.000000
max     32736.000000         1.000000        5630.000000            1.000000

       prior_question_elapsed_time      bundle_id           part  \
count                700037.000000  706889.000000  706889.000000
mean                  24402.905686    3929.991093       3.370781
std                   17554.014697    3532.634857       1.796509
min                       0.000000       0.000000       1.000000
25%                   16000.000000     922.000000       2.000000
50%                   20000.000000    2575.000000       3.000000
75%                   27000.000000    6896.000000       5.000000
max                  300000.000000   13522.000000       7.000000

        tag_lecture  part_lecture
count  18081.000000  18081.000000
mean      88.622034      4.335822
std       51.818478      1.951612
min        0.000000      1.000000
25%       39.000000      2.000000
50%       80.000000      5.000000
75%      134.000000      6.000000
max      187.000000      7.000000
        Unnamed: 0  row_id  timestamp  user_id  content_id  content_type_id  \
0                0       0          0      115        5692                0
1                1       1      56943      115        5716                0
2                2       2     118363      115         128                0
2                2       2     118363      115         128                0
2                2       2     118363      115         128                0
...            ...     ...        ...      ...         ...              ...
299997      299997  299997     528172  5615405        2593                0
299998      299998  299998     528172  5615405        2595                0
299998      299998  299998     528172  5615405        2595                0
299998      299998  299998     528172  5615405        2595                0
299999      299999  299999     553634  5615405        4492                0

        task_container_id  answered_correctly  prior_question_elapsed_time  \
0                       1                   1                          NaN
1                       2                   1                      37000.0
2                       0                   1                      55000.0
2                       0                   1                      55000.0
2                       0                   1                      55000.0
...                   ...                 ...                          ...
299997                  7                   1                      27666.0
299998                  7                   0                      27666.0
299998                  7                   0                      27666.0
299998                  7                   0                      27666.0
299999                  8                   0                      38000.0

       prior_question_had_explanation  bundle_id  part tag_question  \
0                                 NaN     5692.0   5.0          151
1                               False     5716.0   5.0          168
2                               False      128.0   1.0          131
2                               False      128.0   1.0          149
2                               False      128.0   1.0           92
...                               ...        ...   ...          ...
299997                          False     2593.0   4.0          102
299998                          False     2593.0   4.0           82
299998                          False     2593.0   4.0          103
299998                          False     2593.0   4.0          102
299999                          False     4492.0   5.0           80

        tag_lecture  part_lecture
0               NaN           NaN
1               NaN           NaN
2               NaN           NaN
2               NaN           NaN
2               NaN           NaN
...             ...           ...
299997          NaN           NaN
299998          NaN           NaN
299998          NaN           NaN
299998          NaN           NaN
299999          NaN           NaN

[710422 rows x 15 columns]
2022-10-09 18:43:35.945972 : <-- Анализ объединенного датафрейма и создание фичей -->